################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Server Verify/obj/Debug
.vs/MaxMonitor/v16/.suo
